<FilesMatch "^.*\.(LOG|log|bak|bk|LCK)">
  Order allow,deny
  Deny from all
  Satisfy All
</FilesMatch>

<ifModule mod_headers.c>
  Header set Connection keep-alive
</ifModule>

<ifModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 1 year"
ExpiresByType image/jpg "access plus 30 days"
ExpiresByType image/gif "access plus 30 days"
ExpiresByType image/png "access plus 30 days"
ExpiresByType application/pdf "access plus 30 days"
ExpiresByType image/x-icon "access plus 30 days"
</ifModule>

<filesMatch "\.(html|js|css)$">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Sun, 25 Nov 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>

<If "%{QUERY_STRING} =~ /cache=0/">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Sun, 25 Nov 1984 05:00:00 GMT"
  </ifModule>
</If>

# BEGIN GZIP
<ifmodule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP

Options +FollowSymLinks

RewriteEngine On
RewriteBase /


#==========
# SECURITY
#==========

# Turn on IE8-IE9 XSS prevention tools
Header set X-XSS-Protection "1; mode=block"

# Don't allow any pages to be framed - Defends against CSRF
Header set X-Frame-Options SAMEORIGIN

# prevent mime based attacks
Header set X-Content-Type-Options "nosniff"

# proc/self/environ? no way!
RewriteCond %{QUERY_STRING} proc/self/environ [OR]

# Block out any script trying to set a mosConfig value through the URL
RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]

# Block out any script trying to base64_encode crap to send via URL
RewriteCond %{QUERY_STRING} base64_encode.*(.*) [OR]

# Block out any script that includes a <script> tag in the query string
RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR]

# Block out any script that includes a <script> tag in the URI
RewriteCond %{REQUEST_URI} (<|%3C).*script.*(>|%3E) [NC,OR]

# Block out any script trying to set a PHP GLOBALS variable via URL
RewriteCond %{QUERY_STRING} GLOBALS(=|[|\%[0-9A-Z]{0,2}) [OR]

# Block out any script trying to modify a _REQUEST variable via URL
RewriteCond %{QUERY_STRING} _REQUEST(=|[|\%[0-9A-Z]{0,2}) [OR]

# Block out any request looking for a /credentials directory
RewriteCond %{REQUEST_URI} \/(logs|credentials) [NC]

# Send all blocked request to homepage with 403 Forbidden error!
RewriteRule ^(.*)$ forbidden.html [F,L]

ErrorDocument 403 /forbidden.html
